.traka {
    width: 100%;
    background-color: #e9f4f7;
padding: 25px 0px;
}
.traka1 {
    background-color: #ffffff;
}
.row {
    
}
.leoncino {
    background-color: #ffffff;
    border-bottom: 1px solid #1b262c;
    margin: 0px 0px 20px 0px;
}
.spacey {
    height: 20px;
}
.mainbody {
    margin: 0px auto;
    max-width: 840px;
    
}

.bodypadding {
    padding: 0px 15px;
}

.mainbody svg {
    width: 30px;
    height: 30px;
    padding-right: 10px;
    fill: #0f4c75;
}

.mainbody h2, p {
    font-family: 'Source Sans Pro', sans-serif;
    color: #1b262c;
}

.intropic img {
    border-radius: 6px;
}

.directionscont {
    display: grid;
    align-items: center;

}

.laura img {
    max-width: 400px;
    border-radius: 6px;
}

.card p {
    margin: 0px;
    padding: 2px 0px;
}

@media screen and (min-width:575px) {
    .rovinj {
        display: unset;
       
    }
   .spacey {
       height: 0px;
   }
   .headerpadding {
      padding: 0px;
   }
   .bodypadding {
       padding: 0px;
   }
}